<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>electron</string>
	<key>CFBundleName</key>
	<string>electron</string>
	<key>DocSetPlatformFamily</key>
	<string>electron</string>
    <key>dashIndexFilePath</key>
    <string>docs/version/index.html</string>
	<key>isDashDocset</key>
	<true/>
    <key>isJavaScriptEnabled</key>
    <true/>
</dict>
</plist>
